/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.title {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Player Form Styles */
.player-form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e9ecef;
  border: 2px solid #6c757d;
  border-radius: 12px;
  transition: transform 0.3s;
}

.player-form:hover {
  transform: scale(1.02);
}

.player-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #495057;
}

.player-form input[type="text"],
.player-form input[type="number"] {
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
}

.player-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.player-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Player List Styles */
.player-list {
  margin-bottom: 20px;
}

.player-list ul {
  list-style-type: none;
  padding: 0;
}

.player-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.player-list li:hover {
  background-color: #f8f9fa;
  transform: scale(1.02);
}

.player-list li.selected {
  background-color: #dfe6e9;
}

.player-list li.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.player-list li span {
  flex-grow: 1;
}

.player-list li .player-score {
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
}

.player-list li button {
  background-color: #e17055;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.player-list li button:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

/* Button Styles */
.generate-teams-button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.generate-teams-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.shuffle-teams-button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.shuffle-teams-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
}

.generate-random-players-button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
  display: flex;
  align-items: center;
}

.generate-random-players-button .icon {
  margin-right: 8px;
  color: #fff;
}

.generate-random-players-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.delete-all-button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
  display: flex;
  align-items: center;
}

.delete-all-button .icon {
  margin-right: 8px;
  color: #fff;
}

.delete-all-button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

/* Team Container Styles */
.team-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.team-list {
  padding: 20px;
  background-color: #e9ecef;
  border: 2px solid #6c757d;
  border-radius: 12px;
  width: 45%;
  transition: transform 0.3s;
}

.team-list:nth-child(odd) {
  background-color: #d4edda;
  border-color: #28a745;
}

.team-list:nth-child(even) {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.team-list:hover {
  transform: scale(1.02);
}

.team-list h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #495057;
}

.team-list ul {
  list-style-type: none;
  padding: 0;
}

.team-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border-bottom: 1px solid #dee2e6;
  font-size: 18px;
}

.team-score {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #495057;
  font-size: 24px;
}

/* Warning Message */
.warning-message {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
